@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root {
  /* Primary Brand Colors */
  --color-primary: #ed673b;
  --color-primary-dark: #c7502c;
  --color-dark: #46464a;

  /* Secondary / Accent Colors */
  --color-accent: #4a2f27;
  --color-accent-light: #795548;

  /* Support Colors */
  --color-bg-light: #fff5f2;
  --color-bg-dark: #1a1a1a;

  /* Text Colors */
  --color-text-dark: #222222;
  --color-text-light: #fafafa;

  /* Status or Special Use */
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ffc107;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#verysmalltext {
  font-size: 12px;
  color: var(--color-text-dark);
}
#smalltext {
  font-size: 14px;
  color: var(--color-text-dark);
}
p,
#mediumtext {
  font-size: 16px;
  color: var(--color-text-dark);
}
#largeText {
  font-size: 18px;
  color: var(--color-text-dark);
}
#verylargeText {
  font-size: 20px;
  color: var(--color-text-dark);
}
#hugeText {
  font-size: 24px;
  color: var(--color-text-dark);
}
#flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  font-family: nunito, sans-serif;
  color: var(--color-dark);
}
li {
  list-style: none;
}

#flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.8;
  scale: 1.02;
}
#link {
  text-decoration: none;
  color: inherit;
}
#delete{
    color: red;
}
