:root {
  /* Primary Brand Colors */
  --color-primary: #ED673B; 
  --color-primary-dark: #C7502C;
  --color-dark: #46464a;

  /* Secondary / Accent Colors */
  --color-accent: #4A2F27;
  --color-accent-light: #795548;

  /* Support Colors */
  --color-bg-light: #FFF5F2;
  --color-bg-dark: #1A1A1A;

  /* Text Colors */
  --color-text-dark: #222222;
  --color-text-light: #FAFAFA;

  /* Status or Special Use */
  --color-success: #4CAF50;
  --color-error: #F44336;
  --color-warning: #FFC107;
}
*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#verysmalltext {
  font-size: 12px;
  color: var(--color-text-dark);
}
#smalltext {
  font-size: 14px;
  color: var(--color-text-dark);
}
p,
#mediumtext {
  font-size: 16px;
  color: var(--color-text-dark);
}
#largeText {
  font-size: 18px;
  color: var(--color-text-dark);
}
#verylargeText {
  font-size: 20px;
  color: var(--color-text-dark);
}
#hugeText {
  font-size: 24px;
  color: var(--color-text-dark);
}
#flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
 overflow-x: hidden;
  font-family: nunito, sans-serif;
  color: var(--color-dark);
}
li{
  list-style: none;
}

#flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.8;
  scale: 1.02;
}
#link{
  text-decoration: none;
  color: inherit;
}